In [1]:
# imports
from finta import TA
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
# catch dataframe
btc = yf.Ticker("BTC-USD")
hist = btc.history(period="1y",interval="1d")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-04-30,53568.664062,57900.718750,53129.601562,57750.175781,52395931985,0,0
2021-05-01,57714.664062,58448.339844,57052.273438,57828.050781,42836427360,0,0
2021-05-02,57825.863281,57902.593750,56141.906250,56631.078125,38177405335,0,0
2021-05-03,56620.273438,58973.308594,56590.871094,57200.292969,51713139031,0,0
2021-05-04,57214.179688,57214.179688,53191.425781,53333.539062,68564706967,0,0
...,...,...,...,...,...,...,...
2022-04-26,40448.421875,40713.890625,37884.984375,38117.460938,34569088416,0,0
2022-04-27,38120.300781,39397.917969,37997.312500,39241.121094,30981015184,0,0
2022-04-28,39241.429688,40269.464844,38941.421875,39773.828125,33903704907,0,0
2022-04-29,39768.617188,39887.269531,38235.535156,38609.824219,30882994649,0,0
2022-04-30,38597.628906,38760.183594,38565.355469,38582.503906,26999042048,0,0

In [3]:
rsi14=TA.RSI(hist,14)
rsi14

Date
2021-04-30           NaN
2021-05-01    100.000000
2021-05-02      5.697104
2021-05-03     36.408558
2021-05-04     10.763846
                 ...
2022-04-26     36.488859
2022-04-27     42.250518
2022-04-28     44.806870
2022-04-29     40.579855
2022-04-30     40.483321
Name: 14 period RSI, Length: 366, dtype: float64

In [4]:
ema50=TA.EMA(hist,50)
ema50

Date
2021-04-30    57750.175781
2021-05-01    57789.892031
2021-05-02    57388.068945
2021-05-03    57338.271522
2021-05-04    56471.994330
                  ...
2022-04-26    41639.510232
2022-04-27    41545.455710
2022-04-28    41475.980085
2022-04-29    41363.581765
2022-04-30    41254.519840
Name: 50 period EMA, Length: 366, dtype: float64

In [5]:
ema120=TA.EMA(hist,120)
ema120

Date
2021-04-30    57750.175781
2021-05-01    57789.437760
2021-05-02    57396.864824
2021-05-03    57346.486518
2021-05-04    56516.922988
                  ...
2022-04-26    43013.644457
2022-04-27    42951.141346
2022-04-28    42898.501723
2022-04-29    42827.452482
2022-04-30    42757.130342
Name: 120 period EMA, Length: 366, dtype: float64

In [6]:
hist['rsi14']=rsi14
hist['ema50']=ema50
hist['ema120']=ema120
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,rsi14,ema50,ema120
Date,,,,,,,,,,
2021-04-30,53568.664062,57900.718750,53129.601562,57750.175781,52395931985,0,0,NaN,57750.175781,57750.175781
2021-05-01,57714.664062,58448.339844,57052.273438,57828.050781,42836427360,0,0,100.000000,57789.892031,57789.437760
2021-05-02,57825.863281,57902.593750,56141.906250,56631.078125,38177405335,0,0,5.697104,57388.068945,57396.864824
2021-05-03,56620.273438,58973.308594,56590.871094,57200.292969,51713139031,0,0,36.408558,57338.271522,57346.486518
2021-05-04,57214.179688,57214.179688,53191.425781,53333.539062,68564706967,0,0,10.763846,56471.994330,56516.922988
...,...,...,...,...,...,...,...,...,...,...
2022-04-26,40448.421875,40713.890625,37884.984375,38117.460938,34569088416,0,0,36.488859,41639.510232,43013.644457
2022-04-27,38120.300781,39397.917969,37997.312500,39241.121094,30981015184,0,0,42.250518,41545.455710,42951.141346
2022-04-28,39241.429688,40269.464844,38941.421875,39773.828125,33903704907,0,0,44.806870,41475.980085,42898.501723
2022-04-29,39768.617188,39887.269531,38235.535156,38609.824219,30882994649,0,0,40.579855,41363.581765,42827.452482
2022-04-30,38597.628906,38760.183594,38565.355469,38582.503906,26999042048,0,0,40.483321,41254.519840,42757.130342

In [7]:
def trend(a, b):
    if a > b:
        return 'up'
    elif a < b:
        return 'down'
    else:
        return '-'


hist['trend'] = hist.apply(lambda row: trend(row['ema50'], row['ema120']), axis=1)
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,rsi14,ema50,ema120,trend
Date,,,,,,,,,,,
2021-04-30,53568.664062,57900.718750,53129.601562,57750.175781,52395931985,0,0,NaN,57750.175781,57750.175781,-
2021-05-01,57714.664062,58448.339844,57052.273438,57828.050781,42836427360,0,0,100.000000,57789.892031,57789.437760,up
2021-05-02,57825.863281,57902.593750,56141.906250,56631.078125,38177405335,0,0,5.697104,57388.068945,57396.864824,down
2021-05-03,56620.273438,58973.308594,56590.871094,57200.292969,51713139031,0,0,36.408558,57338.271522,57346.486518,down
2021-05-04,57214.179688,57214.179688,53191.425781,53333.539062,68564706967,0,0,10.763846,56471.994330,56516.922988,down
...,...,...,...,...,...,...,...,...,...,...,...
2022-04-26,40448.421875,40713.890625,37884.984375,38117.460938,34569088416,0,0,36.488859,41639.510232,43013.644457,down
2022-04-27,38120.300781,39397.917969,37997.312500,39241.121094,30981015184,0,0,42.250518,41545.455710,42951.141346,down
2022-04-28,39241.429688,40269.464844,38941.421875,39773.828125,33903704907,0,0,44.806870,41475.980085,42898.501723,down
2022-04-29,39768.617188,39887.269531,38235.535156,38609.824219,30882994649,0,0,40.579855,41363.581765,42827.452482,down
2022-04-30,38597.628906,38760.183594,38565.355469,38582.503906,26999042048,0,0,40.483321,41254.519840,42757.130342,down

In [10]:
def state(rsi):
    if 0 < rsi < 30:
        return 'oversold'
    elif 70 < rsi < 100:
        return 'overbought'
    else: return '-'
def signal(trend,state):
    if trend=='up' and state=='oversold':
        return 'buy'
    if trend=='down' and state=='overbought':
        return 'sell'
    else:
        return '-'
hist['state']=hist.apply(lambda row: state(row['rsi14']),axis=1)
hist['signal']=hist.apply(lambda row: signal(row['trend'],row['state']),axis=1)
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,rsi14,ema50,ema120,trend,state,signal
Date,,,,,,,,,,,,,
2021-04-30,53568.664062,57900.718750,53129.601562,57750.175781,52395931985,0,0,NaN,57750.175781,57750.175781,-,-,-
2021-05-01,57714.664062,58448.339844,57052.273438,57828.050781,42836427360,0,0,100.000000,57789.892031,57789.437760,up,-,-
2021-05-02,57825.863281,57902.593750,56141.906250,56631.078125,38177405335,0,0,5.697104,57388.068945,57396.864824,down,oversold,-
2021-05-03,56620.273438,58973.308594,56590.871094,57200.292969,51713139031,0,0,36.408558,57338.271522,57346.486518,down,-,-
2021-05-04,57214.179688,57214.179688,53191.425781,53333.539062,68564706967,0,0,10.763846,56471.994330,56516.922988,down,oversold,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-26,40448.421875,40713.890625,37884.984375,38117.460938,34569088416,0,0,36.488859,41639.510232,43013.644457,down,-,-
2022-04-27,38120.300781,39397.917969,37997.312500,39241.121094,30981015184,0,0,42.250518,41545.455710,42951.141346,down,-,-
2022-04-28,39241.429688,40269.464844,38941.421875,39773.828125,33903704907,0,0,44.806870,41475.980085,42898.501723,down,-,-
2022-04-29,39768.617188,39887.269531,38235.535156,38609.824219,30882994649,0,0,40.579855,41363.581765,42827.452482,down,-,-
2022-04-30,38597.628906,38760.183594,38565.355469,38582.503906,26999042048,0,0,40.483321,41254.519840,42757.130342,down,-,-