In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\moslem\anaconda3\lib\site-packages (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\moslem\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\moslem\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install finta

Requirement already satisfied: finta in c:\users\moslem\anaconda3\lib\site-packages (1.3)
Requirement already satisfied: numpy in c:\users\moslem\anaconda3\lib\site-packages (from finta) (1.20.3)
Requirement already satisfied: pandas in c:\users\moslem\anaconda3\lib\site-packages (from finta) (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas->finta) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas->finta) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\moslem\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->finta) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\moslem\anaconda3\lib\site-packages (0.1.70)
Requirement already satisfied: numpy>=1.15 in c:\users\moslem\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\moslem\anaconda3\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in c:\users\moslem\anaconda3\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: lxml>=4.5.1 in c:\users\moslem\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.26 in c:\users\moslem\anaconda3\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\moslem\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\moslem\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\moslem\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\moslem\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\moslem\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from finta import TA
import numpy as np
import pandas as pd

In [6]:
import yfinance as yf

In [7]:
btc = yf.Ticker('BTC-USD')
hist = btc.history(period="1mo",interval="30m")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-04-15 06:00:00+00:00,40161.789062,40161.789062,40120.066406,40120.066406,5232640,0,0
2022-04-15 06:30:00+00:00,40114.042969,40116.945312,40026.195312,40058.488281,33654784,0,0
2022-04-15 07:00:00+00:00,40057.292969,40057.320312,39994.000000,39994.000000,10315776,0,0
2022-04-15 07:30:00+00:00,39994.734375,40370.429688,39994.734375,40328.691406,527050752,0,0
2022-04-15 08:00:00+00:00,40291.542969,40337.777344,40190.148438,40190.148438,1931767808,0,0
...,...,...,...,...,...,...,...
2022-05-15 04:00:00+00:00,29703.214844,29755.912109,29659.220703,29711.927734,124164096,0,0
2022-05-15 04:30:00+00:00,29712.964844,29716.068359,29567.003906,29609.898438,63035392,0,0
2022-05-15 05:00:00+00:00,29608.996094,29608.996094,29527.740234,29585.230469,73666560,0,0
2022-05-15 05:30:00+00:00,29585.195312,29774.562500,29584.226562,29774.562500,245258240,0,0
2022-05-15 06:00:00+00:00,29774.130859,29809.859375,29760.027344,29766.488281,45332480,0,0

In [8]:
rsi=TA.RSI(hist)
rsi

Datetime
2022-04-15 06:00:00+00:00          NaN
2022-04-15 06:30:00+00:00     0.000000
2022-04-15 07:00:00+00:00     0.000000
2022-04-15 07:30:00+00:00    74.763174
2022-04-15 08:00:00+00:00    56.074524
                               ...
2022-05-15 04:00:00+00:00    51.454543
2022-05-15 04:30:00+00:00    48.204155
2022-05-15 05:00:00+00:00    47.424137
2022-05-15 05:30:00+00:00    53.626599
2022-05-15 06:00:00+00:00    53.337616
Freq: 30T, Name: 14 period RSI, Length: 1441, dtype: float64

In [9]:
stochd=TA.STOCHD(hist,3,11)
stochd

Datetime
2022-04-15 06:00:00+00:00          NaN
2022-04-15 06:30:00+00:00          NaN
2022-04-15 07:00:00+00:00          NaN
2022-04-15 07:30:00+00:00          NaN
2022-04-15 08:00:00+00:00          NaN
                               ...
2022-05-15 04:00:00+00:00    14.486065
2022-05-15 04:30:00+00:00    14.305474
2022-05-15 05:00:00+00:00    11.296633
2022-05-15 05:30:00+00:00    18.238769
2022-05-15 06:00:00+00:00    32.628757
Freq: 30T, Name: 3 period STOCH %D., Length: 1441, dtype: float64

In [10]:
hist['rsi']=rsi
hist['stoch']=stochd
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,rsi,stoch
Datetime,,,,,,,,,
2022-04-15 06:00:00+00:00,40161.789062,40161.789062,40120.066406,40120.066406,5232640,0,0,NaN,NaN
2022-04-15 06:30:00+00:00,40114.042969,40116.945312,40026.195312,40058.488281,33654784,0,0,0.000000,NaN
2022-04-15 07:00:00+00:00,40057.292969,40057.320312,39994.000000,39994.000000,10315776,0,0,0.000000,NaN
2022-04-15 07:30:00+00:00,39994.734375,40370.429688,39994.734375,40328.691406,527050752,0,0,74.763174,NaN
2022-04-15 08:00:00+00:00,40291.542969,40337.777344,40190.148438,40190.148438,1931767808,0,0,56.074524,NaN
...,...,...,...,...,...,...,...,...,...
2022-05-15 04:00:00+00:00,29703.214844,29755.912109,29659.220703,29711.927734,124164096,0,0,51.454543,14.486065
2022-05-15 04:30:00+00:00,29712.964844,29716.068359,29567.003906,29609.898438,63035392,0,0,48.204155,14.305474
2022-05-15 05:00:00+00:00,29608.996094,29608.996094,29527.740234,29585.230469,73666560,0,0,47.424137,11.296633
2022-05-15 05:30:00+00:00,29585.195312,29774.562500,29584.226562,29774.562500,245258240,0,0,53.626599,18.238769
2022-05-15 06:00:00+00:00,29774.130859,29809.859375,29760.027344,29766.488281,45332480,0,0,53.337616,32.628757

In [11]:
def signal(rsi_past, rsi_current, stoch):
    if rsi_past < 30 and rsi_current > 30 and stoch > 50:
        return 'buy'
    elif rsi_past > 70 and rsi_current < 70 and stoch < 50:
        return 'sell'
    else:
        return '-'

In [12]:
hist['index']=range(0,len(hist))
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,rsi,stoch,index
Datetime,,,,,,,,,,
2022-04-15 06:00:00+00:00,40161.789062,40161.789062,40120.066406,40120.066406,5232640,0,0,NaN,NaN,0
2022-04-15 06:30:00+00:00,40114.042969,40116.945312,40026.195312,40058.488281,33654784,0,0,0.000000,NaN,1
2022-04-15 07:00:00+00:00,40057.292969,40057.320312,39994.000000,39994.000000,10315776,0,0,0.000000,NaN,2
2022-04-15 07:30:00+00:00,39994.734375,40370.429688,39994.734375,40328.691406,527050752,0,0,74.763174,NaN,3
2022-04-15 08:00:00+00:00,40291.542969,40337.777344,40190.148438,40190.148438,1931767808,0,0,56.074524,NaN,4
...,...,...,...,...,...,...,...,...,...,...
2022-05-15 04:00:00+00:00,29703.214844,29755.912109,29659.220703,29711.927734,124164096,0,0,51.454543,14.486065,1436
2022-05-15 04:30:00+00:00,29712.964844,29716.068359,29567.003906,29609.898438,63035392,0,0,48.204155,14.305474,1437
2022-05-15 05:00:00+00:00,29608.996094,29608.996094,29527.740234,29585.230469,73666560,0,0,47.424137,11.296633,1438
2022-05-15 05:30:00+00:00,29585.195312,29774.562500,29584.226562,29774.562500,245258240,0,0,53.626599,18.238769,1439
2022-05-15 06:00:00+00:00,29774.130859,29809.859375,29760.027344,29766.488281,45332480,0,0,53.337616,32.628757,1440

In [13]:
hist['signal'] = hist.apply(lambda row: signal(hist.iloc[int(row['index']-1)]['rsi'],row['rsi'],row['stoch']), axis=1)
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,rsi,stoch,index,signal
Datetime,,,,,,,,,,,
2022-04-15 06:00:00+00:00,40161.789062,40161.789062,40120.066406,40120.066406,5232640,0,0,NaN,NaN,0,-
2022-04-15 06:30:00+00:00,40114.042969,40116.945312,40026.195312,40058.488281,33654784,0,0,0.000000,NaN,1,-
2022-04-15 07:00:00+00:00,40057.292969,40057.320312,39994.000000,39994.000000,10315776,0,0,0.000000,NaN,2,-
2022-04-15 07:30:00+00:00,39994.734375,40370.429688,39994.734375,40328.691406,527050752,0,0,74.763174,NaN,3,-
2022-04-15 08:00:00+00:00,40291.542969,40337.777344,40190.148438,40190.148438,1931767808,0,0,56.074524,NaN,4,-
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-15 04:00:00+00:00,29703.214844,29755.912109,29659.220703,29711.927734,124164096,0,0,51.454543,14.486065,1436,-
2022-05-15 04:30:00+00:00,29712.964844,29716.068359,29567.003906,29609.898438,63035392,0,0,48.204155,14.305474,1437,-
2022-05-15 05:00:00+00:00,29608.996094,29608.996094,29527.740234,29585.230469,73666560,0,0,47.424137,11.296633,1438,-
2022-05-15 05:30:00+00:00,29585.195312,29774.562500,29584.226562,29774.562500,245258240,0,0,53.626599,18.238769,1439,-
2022-05-15 06:00:00+00:00,29774.130859,29809.859375,29760.027344,29766.488281,45332480,0,0,53.337616,32.628757,1440,-