In [168]:
pip install numpy

Requirement already satisfied: numpy in c:\users\moslem\anaconda3\lib\site-packages (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [169]:
pip install pandas

Requirement already satisfied: pandas in c:\users\moslem\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\moslem\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [170]:
pip install finta

Requirement already satisfied: finta in c:\users\moslem\anaconda3\lib\site-packages (1.3)
Requirement already satisfied: pandas in c:\users\moslem\anaconda3\lib\site-packages (from finta) (1.3.4)
Requirement already satisfied: numpy in c:\users\moslem\anaconda3\lib\site-packages (from finta) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas->finta) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas->finta) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\moslem\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->finta) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [171]:
pip install yfinance

^C
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: yfinance in c:\users\moslem\anaconda3\lib\site-packages (0.1.70)
Requirement already satisfied: pandas>=0.24.0 in c:\users\moslem\anaconda3\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\moslem\anaconda3\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in c:\users\moslem\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.26 in c:\users\moslem\anaconda3\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: numpy>=1.15 in c:\users\moslem\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\moslem\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\moslem\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\moslem\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\moslem\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\moslem\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\moslem\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)

In [ ]:
from finta import TA
import numpy as np
import pandas as pd

In [ ]:
import yfinance as yf

In [ ]:
btc = yf.Ticker('BTC-USD')
hist = btc.history(period="1mo",interval="30m")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-04-12 10:00:00+00:00,40158.593750,40158.593750,40135.320312,40135.320312,0,0,0
2022-04-12 10:30:00+00:00,40143.492188,40245.027344,40143.492188,40191.417969,8802304,0,0
2022-04-12 11:00:00+00:00,40182.214844,40237.957031,40151.523438,40237.957031,21110784,0,0
2022-04-12 11:30:00+00:00,40294.722656,40386.914062,40294.722656,40386.914062,111591424,0,0
2022-04-12 12:00:00+00:00,40380.398438,40417.222656,40277.945312,40288.992188,0,0,0
...,...,...,...,...,...,...,...
2022-05-12 08:00:00+00:00,27938.609375,27984.880859,27769.798828,27769.798828,535461888,0,0
2022-05-12 08:30:00+00:00,27729.402344,27804.671875,27352.449219,27804.671875,835903488,0,0
2022-05-12 09:00:00+00:00,27819.166016,28130.425781,27696.441406,28068.212891,1198587904,0,0
2022-05-12 09:30:00+00:00,28045.947266,28047.021484,27798.595703,27798.595703,43720704,0,0
2022-05-12 10:00:00+00:00,27811.039062,27925.314453,27608.849609,27845.593750,900407296,0,0

In [ ]:
rsi=TA.RSI(hist)
rsi

Datetime
2022-04-12 10:00:00+00:00           NaN
2022-04-12 10:30:00+00:00    100.000000
2022-04-12 11:00:00+00:00    100.000000
2022-04-12 11:30:00+00:00    100.000000
2022-04-12 12:00:00+00:00     69.521529
                                ...
2022-05-12 08:00:00+00:00     42.946035
2022-05-12 08:30:00+00:00     43.356407
2022-05-12 09:00:00+00:00     46.488822
2022-05-12 09:30:00+00:00     43.819042
2022-05-12 10:00:00+00:00     44.418248
Freq: 30T, Name: 14 period RSI, Length: 1441, dtype: float64

In [ ]:
stochd=TA.STOCHD(hist,3,11)
stochd

Datetime
2022-04-12 10:00:00+00:00          NaN
2022-04-12 10:30:00+00:00          NaN
2022-04-12 11:00:00+00:00          NaN
2022-04-12 11:30:00+00:00          NaN
2022-04-12 12:00:00+00:00          NaN
                               ...
2022-05-12 08:00:00+00:00    49.295439
2022-05-12 08:30:00+00:00    57.613409
2022-05-12 09:00:00+00:00    66.094181
2022-05-12 09:30:00+00:00    73.275391
2022-05-12 10:00:00+00:00    80.067986
Freq: 30T, Name: 3 period STOCH %D., Length: 1441, dtype: float64

In [ ]:
hist['rsi']=rsi
hist['stoch']=stochd
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,rsi,stoch
Datetime,,,,,,,,,
2022-04-12 10:00:00+00:00,40158.593750,40158.593750,40135.320312,40135.320312,0,0,0,NaN,NaN
2022-04-12 10:30:00+00:00,40143.492188,40245.027344,40143.492188,40191.417969,8802304,0,0,100.000000,NaN
2022-04-12 11:00:00+00:00,40182.214844,40237.957031,40151.523438,40237.957031,21110784,0,0,100.000000,NaN
2022-04-12 11:30:00+00:00,40294.722656,40386.914062,40294.722656,40386.914062,111591424,0,0,100.000000,NaN
2022-04-12 12:00:00+00:00,40380.398438,40417.222656,40277.945312,40288.992188,0,0,0,69.521529,NaN
...,...,...,...,...,...,...,...,...,...
2022-05-12 08:00:00+00:00,27938.609375,27984.880859,27769.798828,27769.798828,535461888,0,0,42.946035,49.295439
2022-05-12 08:30:00+00:00,27729.402344,27804.671875,27352.449219,27804.671875,835903488,0,0,43.356407,57.613409
2022-05-12 09:00:00+00:00,27819.166016,28130.425781,27696.441406,28068.212891,1198587904,0,0,46.488822,66.094181
2022-05-12 09:30:00+00:00,28045.947266,28047.021484,27798.595703,27798.595703,43720704,0,0,43.819042,73.275391
2022-05-12 10:00:00+00:00,27811.039062,27925.314453,27608.849609,27845.593750,900407296,0,0,44.418248,80.067986

In [ ]:
def signal(rsi_past, rsi_current, stoch):
    if rsi_past < 30 and rsi_current > 30 and stoch > 50:
        return 'long'
    elif rsi_past > 70 and rsi_current < 70 and stoch < 50:
        return 'short'
    else:
        return '-'

In [ ]:
hist['index']=range(0,len(hist))
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,rsi,stoch,index,signal
Datetime,,,,,,,,,,,
2022-04-12 10:00:00+00:00,40158.593750,40158.593750,40135.320312,40135.320312,0,0,0,NaN,NaN,0,-
2022-04-12 10:30:00+00:00,40143.492188,40245.027344,40143.492188,40191.417969,8802304,0,0,100.000000,NaN,1,-
2022-04-12 11:00:00+00:00,40182.214844,40237.957031,40151.523438,40237.957031,21110784,0,0,100.000000,NaN,2,-
2022-04-12 11:30:00+00:00,40294.722656,40386.914062,40294.722656,40386.914062,111591424,0,0,100.000000,NaN,3,-
2022-04-12 12:00:00+00:00,40380.398438,40417.222656,40277.945312,40288.992188,0,0,0,69.521529,NaN,4,-
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-12 08:00:00+00:00,27938.609375,27984.880859,27769.798828,27769.798828,535461888,0,0,42.946035,49.295439,1436,-
2022-05-12 08:30:00+00:00,27729.402344,27804.671875,27352.449219,27804.671875,835903488,0,0,43.356407,57.613409,1437,-
2022-05-12 09:00:00+00:00,27819.166016,28130.425781,27696.441406,28068.212891,1198587904,0,0,46.488822,66.094181,1438,-
2022-05-12 09:30:00+00:00,28045.947266,28047.021484,27798.595703,27798.595703,43720704,0,0,43.819042,73.275391,1439,-
2022-05-12 10:00:00+00:00,27811.039062,27925.314453,27608.849609,27845.593750,900407296,0,0,44.418248,80.067986,1440,-

In [ ]:
hist['signal'] = hist.apply(lambda row: signal(hist.iloc[int(row['index']-1)]['rsi'],row['rsi'],row['stoch']), axis=1)
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,rsi,stoch,index,signal
Datetime,,,,,,,,,,,
2022-04-12 10:00:00+00:00,40158.593750,40158.593750,40135.320312,40135.320312,0,0,0,NaN,NaN,0,-
2022-04-12 10:30:00+00:00,40143.492188,40245.027344,40143.492188,40191.417969,8802304,0,0,100.000000,NaN,1,-
2022-04-12 11:00:00+00:00,40182.214844,40237.957031,40151.523438,40237.957031,21110784,0,0,100.000000,NaN,2,-
2022-04-12 11:30:00+00:00,40294.722656,40386.914062,40294.722656,40386.914062,111591424,0,0,100.000000,NaN,3,-
2022-04-12 12:00:00+00:00,40380.398438,40417.222656,40277.945312,40288.992188,0,0,0,69.521529,NaN,4,-
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-12 08:00:00+00:00,27938.609375,27984.880859,27769.798828,27769.798828,535461888,0,0,42.946035,49.295439,1436,-
2022-05-12 08:30:00+00:00,27729.402344,27804.671875,27352.449219,27804.671875,835903488,0,0,43.356407,57.613409,1437,-
2022-05-12 09:00:00+00:00,27819.166016,28130.425781,27696.441406,28068.212891,1198587904,0,0,46.488822,66.094181,1438,-
2022-05-12 09:30:00+00:00,28045.947266,28047.021484,27798.595703,27798.595703,43720704,0,0,43.819042,73.275391,1439,-
2022-05-12 10:00:00+00:00,27811.039062,27925.314453,27608.849609,27845.593750,900407296,0,0,44.418248,80.067986,1440,-